/*
 *  Style Sheet for Planets Ranking Project
 */

body{
	/*
	 *  background:#247FA3;
	 */
	background-color:#000;
	background-image: url('../images/space-balls.png');
	background-size:100%;
	background-repeat:no-repeat;
	color:#ffffff;
	/*
	 *font-family: 'Cutive Mono', serif;
	 */
	 font-family: 'Carrois Gothic SC', sans-serif;
}
/*
 *   ACTIVITY DIV
 */
#about_project{
	position:absolute;
	width:800px;
	top:50px;
	left:50%;
	margin:0px 0px 0px -430px;
	padding:30px;
	color:#333;
	font-size:14pt;
	background-color:#fff;
	border-radius:8px;
	display:none;
	z-index:2;
}
#update_info{
	position:absolute;
	width:800px;
	top:420px;
	left:50%;
	margin:0px 0px 0px -430px;
	padding:30px;
	color:#333;
	font-size:11pt;
	background-color:#fff;
	border-radius:8px;
	display:none;
	z-index:2;
}
#weight_info{
	position:absolute;
	width:800px;
	top:50px;
	left:50%;
	margin:0px 0px 0px -430px;
	padding:30px;
	color:#333;
	font-size:11pt;
	background-color:#fff;
	border-radius:8px;
	display:none;
	z-index:2;
}
#thinking{
	position:absolute;
	top:250px;
	left:50%;
	width:400px;
	text-align:center;
	margin:0 0 0 -200px;
	color:#ffffff;
	z-index: 10;
}
/*
 *    WRAPPER
 */
.cwp-wrapper{
	width:860px;
	margin:0 auto 0 auto;
	padding:0;
	z-index:1;
	
}
.cp-text-button{
	font-weight:700;
	font-size:18pt;
	cursor:pointer;
	margin:0px;
	padding:0px;
}
.cp-text-button:hover{
	color:#999;
}
/*
 *    BACKGROUND IMAGES
 */
#title_banner{
	
	width:400px;
	height:300px;
	float:right;
	margin:0 0 0 0;
	background-image: url('../images/pagetitle.jpg');
	
	border:12px solid #888;
}
#spaceballs{
	position:fixed;
	width:800px;
	height: 560px;
	top:500px;
	left:50%;
	margin:0 0 0 -400px;
	
	background-image: url('../images/space-balls.png');
	z-index: -2;
}
/*
 * 	 DISPLAY
 */
#display-background{
	position:fixed;
	width:800px;
	min-height:100%;
	background-color:#000;
	top:8px;
	left:50%;
	margin:0 0 0 -400px;
	opacity:0.9;
	z-index:-1;
	
}
.cp-menu-wrapper{
	
	width:800px;
	height:380px;
	margin:50px 0px 0px 20px;
	padding:10px;
	text-align:center;
	
}
.cp-menu{
	list-style-type:none;
	margin:0 0 0 0px;
	padding:0px;
}
.cp-menu li{
	display:inline-block;
	
	margin:0px 5px 10px 5px;
	padding:7px 10px 7px 10px;
	background-color:#888;
						/*
	                  * #30abcf;
	                  */
	
	
	font-size:15pt;
	cursor:pointer
}
.cp-menu li:hover{
	background-color:#aaa;
}
#cp-main-container{
	width:95%;
	min-height:200px;
	margin:30px auto 0px auto;
	
	text-align:center;
}
#cp_stats_ul{
	list-style-type:none;
	margin:0px 0px 0px 25px;
	padding:0px;
}
#cp_stats_ul li{
	padding:0px;
	margin:0px;
	display:inline;
	font-size: 18pt;
}

.player-stats{
	border:1px solid #fff;
	width:95%;
	margin:0px;
	padding:6px;
	cursor:pointer;
}
.p-stats-float-right{
	width:48%;
	float:right;
	text-align:right;
}
.p-stats-left{
	width:48%;
	text-align:left;
}

.cp-lower-stats{
	position:relative;
	height:200px;
	background-color:#000;
	border:1px solid #fff;
	display:none;
}
.p-stats-float-right-lower{
	width:30%;
	padding:6px;
	float:right;
	text-align:right;
}
.p-stats-left-lower{
	width:55%;
	padding:6px;
	text-align:left;
}
#cp_totals{
	margin:0px;
	padding:0px;
	list-style-type: none;
	
}
#cp_totals li{
	width:210px;
	padding:0px;
	margin:0px;
	font-size:24pt;
	display:inline-block;
	vertical-align:top;
	border:1px solid green;
}
